$colors: (
        "bg": #3d3d3d,
        "bg-yellow": #e9e96e,
        "bg-blue": #7ccfe0,
        "bg-medium-blue": #5e5ef3,
        "bg-light-blue": #add8e6,
        "bg-teal": #00bebe,
        "bg-green": #3aa111,
        "bg-medium-green": #54bd60,
        "bg-dark-green": #328b0e,
        "white": #fff,
        "black": #000,
        "light-black": #262223,
        "red": #ff0000,
        "green": #2e7c04,
        "purple": #9d9dc7,
        "font": #2c3e50,
        "font-red": #c7482b,
        "modal-green": #3a8677,
        "modal-backdrop": #0000006e,
        "orange": #fd7e14ff,
        "bg-task": #edecece5,
        "bg-api": #191919d5,
        "shadow": #00000033,
        "thead": #fdf2cc,
        "tbody": #cef3fb,
        "pagination-page": #555,
);

:root {
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }
}

@mixin background() {
  text-align: center;
  height: calc(100vh - 62px);
  background-size: cover;
}

@mixin task() {
  .task {
    position: absolute;
    top: 2%;
    left: 5%;

    div {
      background: var(--color-bg-task);
      border-radius: 20px;
      margin-top: 5px;
      padding: 5px;
    }
  }
}

//  .table {
//    @for $varLimit from 1 through 150 {
//    counter-reset: rowNumber 1 + $varLimit;
//  }
//}