$colors: (
        "bg": #3d3d3d,
        "bg-yellow": #e9e96e,
        "bg-blue": #7ccfe0,
        "bg-medium-blue": #5e5ef3,
        "bg-light-blue": #add8e6,
        "bg-teal": #00bebe,
        "bg-green": #3aa111,
        "bg-medium-green": #54bd60,
        "bg-dark-green": #328b0e,
        "white": #fff,
        "black": #000,
        "light-black": #262223,
        "red": #ff0000,
        "green": #2e7c04,
        "purple": #9d9dc7,
        "font": #2c3e50,
        "font-red": #c7482b,
);

:root {
  @each $key, $value in $colors {
    --color-#{$key}: #{$value};
  }
}

@mixin background() {
  text-align: center;
  height: calc(100vh - 62px);
  background-size: cover;
}